body {
    width: 480px;
    /*margin is commented*/
    /*margin: 0 auto;*/
   box-sizing: border-box;
   text-align: center;
   margin: auto;
}
div{
  border:1px solid black;
  box-sizing: border-box;
  background-color: red;
    
}
@media only screen and  (min-width: 768px){
body {
  width: 960px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
} 
div{
  border:1px solid black;
  box-sizing: border-box;
}
}