div {
    background-color: red;
    border: 2px solid black;
    
    
}

    

@media only screen and  (min-width: 480px) {
.div1 {
    width: 480px;
    height: 75px;
    margin: auto;
}
.div2 {
    width: 480px;
    height: 150px;
    margin: auto;
}
.div3 {
    width: 480px;
    height: 125px;
    margin: auto;
}
.div4 {
    width: 480px;
    height: 125px;
    margin: auto;
}
.div5 {
    width: 240px;
    height: 250px;
    position: relative;
    float: left;
   
}
.div6 {
    width: 50%;
    height: 250px;
    position: relative;
    float: left;

}
.div7 {
    height: 250px;
    width: 240px;
    position: relative;
    clear: left;

   
}

.div8 {
    height: 250px;
    width: 240px;
    position: relative;
    float: left;

}
.div9 {
    height: 80px;
    width: 480px;
    clear: both;
}

}

