
.a {
    
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: bisque;
}
.b {
    width: 100%;
    height: 150px;
    margin:auto;
    background-color: blueviolet;
}
.c {
    width: 100%;
    height: 125px;
    margin:auto;
}
.d {

    width: 100%;
    height: 125px;
    margin:auto;
    background-color: rgb(0, 250, 21)
}
.e {
    background-color: rgb(80, 200, 200)
}
.ef {
    width: 50%;
    height: 250px;
    text-align: center;
    float: left;
    clear: right;
    position: relative;
}
.f{
    background-color: rgb(100, 150, 100)
}
.g {
    clear: left;
    float: left;
    background-color: rgb(0, 200, 0)
}
.h {
    float: left;
    background-image: linear-gradient(rgb(196, 170, 205), rgb(136, 192, 142));
}
.gh {
    width: 50%;
    height: 250px;
    text-align: center;
    /*this float is commented*/
    /* float: left; */
    position: relative;
    margin:auto;    
}
.i {
    clear: both;
    width:100%;
    height: 80px;
    background-color: rgb(200, 100, 50)
}

