body {
    width: 960px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
div{
    border:1px solid black;
    box-sizing: border-box;
   
      
  }
  .a {
    background-color: blue;
    width: 100%;
    height: 100px;
    margin: auto;
}
.b {
    background-color: blue;
    width: 20.8%;
    height: 600px;
    float: left;

}
.c {
    background-color: blue;
    width: 39.6%;
    height: 200px;
    float: left;
    
}
.d {
    background-color: blue;
    width: 39.6%;
    height: 200px;
    float: left;
}
.e {
   background-color: blue;
   width: 19.8%;
   height: 250px;
   float: left;
}
.f {
    background-color: blue;
    width: 19.8%;
    height: 250px;
    float: left;
}
.g {
    background-color: blue;
    width: 19.8%;
    height: 250px;
    float: left;
}
.h {
    background-color: blue;
    width: 19.8%;
    height: 250px;
    float: left;
}
.i {
    background-color: blue;
    width:79.2%;
    height: 150px;
    float: left;
}
